/* ==========================================================================
   Styles: Booking Page (modifications to the default styles)
   ========================================================================== */
body {

  background-image: url('../img/contact_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

.two-column-form select {
  padding: 16px;
}

